# Exploratory Data Analysis (EDA)

## Import Library

In [2]:
import pandas as pd
import tensorflow as tf
import sklearn as sk

### MovieLens Dataset

#### Movies

In [3]:
movie_df = pd.read_csv("../../data-raw/movielens-rating/movies.csv")

In [4]:
movie_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

#### Ratings

In [5]:
rating_df = pd.read_csv("../../data-raw/movielens-rating/ratings.csv")

In [6]:
rating_df

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

#### Tags

In [7]:
tags_df = pd.read_csv("../../data-raw/movielens-rating/tags.csv")

In [8]:
tags_df

         userId  movieId                  tag   timestamp
0             3      260              classic  1439472355
1             3      260               sci-fi  1439472256
2             4     1732          dark comedy  1573943598
3             4     1732       great dialogue  1573943604
4             4     7569     so bad it's good  1573943455
...         ...      ...                  ...         ...
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

[1093360 rows x 4 columns]

#### Links

In [9]:
links_df = pd.read_csv("../../data-raw/movielens-rating/links.csv")

In [10]:
links_df

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

[62423 rows x 3 columns]

#### Split Genres Into Multiple Rows

In [16]:
movie_df = movie_df.assign(genres=movie_df['genres'].str.split('|'))

In [18]:
movie_df.explode('genres', ignore_index=True)

        movieId                           title              genres
0             1                Toy Story (1995)           Adventure
1             1                Toy Story (1995)           Animation
2             1                Toy Story (1995)            Children
3             1                Toy Story (1995)              Comedy
4             1                Toy Story (1995)             Fantasy
...         ...                             ...                 ...
112302   209163                Bad Poems (2018)               Drama
112303   209169             A Girl Thing (2001)  (no genres listed)
112304   209171  Women of Devil's Island (1962)              Action
112305   209171  Women of Devil's Island (1962)           Adventure
112306   209171  Women of Devil's Island (1962)               Drama

[112307 rows x 3 columns]